@model List<DisplayCustomerResponse>

@{
    ViewData["Title"] = "PotentialCustomers";
    Layout = "~/Views/Layout/Index.cshtml";
}



<!DOCTYPE html>
<html lang="en">
<link href="~/HTML/dist/assets/libs/simple-datatables/style.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK"
        crossorigin="anonymous"></script>
<body>
    <div class="col-md-12 col-lg-12">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div id="noDataAlert" class="alert alert-danger shadow-sm border-theme-white-2" role="alert" style="display:none; margin-top: 10px;">
                            <div class="d-inline-flex justify-content-center align-items-center thumb-xs bg-danger rounded-circle mx-auto me-1">
                                <i class="fas fa-xmark align-self-center mb-0 text-white"></i>
                            </div>
                            <strong>Maalesef</strong> Kayıt bulunamadı.
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Potensiyel Müşteriler</h4>
                            <div>
                                <a href="/Customer/NewPotentialCustomer" class="btn btn-primary me-2">Yeni Müşteri Ekle</a>
                                <a href="/Customer/PotentialCustomersCard" class="text-secondary btn btn-secondary">
                                    <i class="fas fa-th-large" style="color: #fff;"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body pt-0">
                        <div class="table-responsive">
                            <table class="table table-bordered mb-0 table-centered">
                                <thead>
                                    <tr>
                                        <th>Müşteri Adı</th>
                                        <th>Şehir</th>
                                        <th>İlçe</th>
                                        <th>Adres</th>
                                        <th>Ülke</th>
                                        <th>Yetkili Kişi</th>
                                        <th>Telefon</th>
                                        <th>E-Posta</th>
                                        <th>Yurt İçi</th>
                                        <th>Açıklama</th>
                                        <th>Durum</th>
                                        <th>Grup</th>
                                        <th>İşlem Detayları</th>
                                    </tr>
                                </thead>
                                <tbody id="customer-table-body">
                                    @foreach (var x in Model)
                                    {
                                        <tr>
                                            <td>@x.CompanyName</td>
                                            <td>@x.City</td>
                                            <td>@x.District</td>
                                            <td>@x.Address</td>
                                            <td>@x.Country</td>
                                            <td>@x.ContactName</td>
                                            <td>@x.ContactPhone1</td>
                                            <td>@x.ContactEmail</td>
                                            <td>@x.IsDomestic</td>
                                            <td>@x.Description</td>
                                            <td>@x.Status</td>
                                            <td>@x.Group</td>
                                            <td>
                                                <a asp-controller="Customer" asp-action="CustomerDetail" asp-route-id="@x.Id" class="btn btn-sm btn-primary px-2 d-inline-flex align-items-center">
                                                    <i class="iconoir-user fs-14 me-1"></i>Detaylar
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div id="pagination-controls" style="text-align: center; margin-top: 20px;">
                            <button class="btn btn-sm mx-1" onclick="changePage('prev')" style="background-color: #555; border: none; border-radius: 20px; padding: 5px 15px; color: #fff;">
                                ◀ Önceki
                            </button>
                            <span id="currentPage" style="font-size: 16px; font-weight: bold; padding: 0 10px; background-color: #f8f9fa;">1</span>
                            <button class="btn btn-sm mx-1" onclick="changePage('next')" style="background-color: #555; border: none; border-radius: 20px; padding: 5px 15px; color: #fff;">
                                Sonraki ▶
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="~/HTML/dist/assets/libs/simple-datatables/umd/simple-datatables.js"></script>
    <script src="~/HTML/dist/assets/js/pages/datatable.init.js"></script>
    <script>
        let currentPage = 1;
        const pageSize = 8;
        const token = '@ViewBag.Token';

        $(document).ready(function () {
            fetchData(currentPage);
        });

        function fetchData(page) {
            $.ajax({
                url: `https://localhost:44309/api/Customers/paged-potential-customers?pageNumber=${page}&pageSize=${pageSize}`,
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                success: function (data) {
                    if (data && data.length > 0) {
                        $('#noDataAlert').hide();
                        currentPage = page;
                        $('#currentPage').text(currentPage);
                        updateTable(data);
                    } else {
                        $('#noDataAlert').show(); 
                    }
                },
                error: function () {
                    alert('Veri alınırken hata oluştu.');
                }
            });
        }


        function updateTable(data) {
            let tbody = $('#customer-table-body');
            tbody.empty();
            if (data && data.length > 0) {
                data.forEach(customer => {
                    tbody.append(`
                                                                <tr>
                                                                    <td>${customer.companyName || ""}</td>
                                                                    <td>${customer.city || ""}</td>
                                                                    <td>${customer.district || ""}</td>
                                                                    <td>${customer.address || ""}</td>
                                                                    <td>${customer.country || ""}</td>
                                                                    <td>${customer.contactName || ""}</td>
                                                                    <td>${customer.contactPhone1 || ""}</td>
                                                                    <td>${customer.contactEmail || ""}</td>
                                                                    <td>${customer.isDomestic ? "Evet" : "Hayır"}</td>
                                                                    <td>${customer.description || ""}</td>
                                                                    <td>${customer.status || ""}</td>
                                                                    <td>${customer.group || ""}</td>
                                                                    <td>
                                                                        <a href="/CustomerOperation/OperationsByCustomer/${customer.id}" class="btn btn-primary btn-sm"
                                                                           style="background-color: #555; border: none; padding: 5px 10px; text-decoration: none; color: #fff; border-radius: 5px;">
                                                                            Detaylar
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            `);
                });
            } else {
                tbody.append('<tr><td colspan="13">Kayıt bulunamadı.</td></tr>');
            }
        }
        function changePage(direction) {
            const previousPage = currentPage;

            if (direction === 'next') {
                currentPage++;
            } else if (direction === 'prev' && currentPage > 1) {
                currentPage--;
            }

            $.ajax({
                url: `https://localhost:44309/api/Customers/paged-potential-customers?pageNumber=${currentPage}&pageSize=${pageSize}`,
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                success: function (data) {
                    if (data && data.length > 0) {
                        $('#noDataAlert').hide(); 
                        $('#currentPage').text(currentPage);
                        updateTable(data);
                    } else {
                        currentPage = previousPage; 
                        $('#noDataAlert').show(); 
                    }
                },
                error: function () {
                    alert('Veri alınırken hata oluştu.');
                }
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            document.body.style.opacity = 1;
        });
    </script>
</body>
</html>


