<div class="table-responsive">
    <table class="table table-hover mb-0">
        <thead class="table-light">
            <tr>
                <th>#</th>
                <th>Personel</th>
                <th>Abas ID</th>
                <th>Açıklama</th>
                <th>Durum</th>
                <th>Oluşturulma Tarihi</th>
                <th>Tamamlanma Tarihi</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var task in Model)
                {
                    <tr>
                        <th scope="row">@task.Id</th>
                        <td>@task.UserFullName</td>
                        <td>@task.AbasId</td>
                        <td>@task.Description</td>
                        <td>
                            @if (task.Status == "Fiyat Bekliyor")
                            {
                                <span class="badge bg-warning-subtle text-warning">@task.Status</span>
                            }
                            else if (task.Status == "Onaylandı")
                            {
                                <span class="badge bg-success-subtle text-success">@task.Status</span>
                            }
                            else if (task.Status == "Onaylanmadı")
                            {
                                <span class="badge bg-danger-subtle text-danger">@task.Status</span>
                            }
                            else if (task.Status == "Fiyat Verildi")
                            {
                                <span class="badge bg-orange-subtle text-orange">@task.Status</span> 
                            }
                            else if (task.Status == "Teklif Verildi")
                            {
                                <span class="badge bg-info-subtle text-info">@task.Status</span> 
                            }
                            else
                            {
                                <span class="badge bg-secondary-subtle text-secondary">@task.Status</span>
                            }
                        </td>

                        <td>@task.CreatedDate.ToString("dd.MM.yyyy")</td>
                        <td>@(task.CompletedDate != null ? task.CompletedDate?.ToString("dd.MM.yyyy") : "N/A")</td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center">No task assignments found</td>
                </tr>
            }
        </tbody>
    </table>
</div>
