@{
    ViewBag.Title = "Customer Operations";
    Layout = "~/Views/Layout/Index.cshtml";
    var customerOperations = Model as List<DisplayCustomerOperationByCustomerResponse>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECO CRM - Müşteri Hareketleri</title>
    <link href="~/HTML/dist/assets/libs/simple-datatables/style.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Müşteriye Ait Tüm Hareketler</h4>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="table-responsive-sm">
                    <table class="table table-sm mb-0">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Tarih</th>
                                <th scope="col">Personel</th>
                                <th scope="col">Yöntem</th>
                                <th scope="col">Firma</th>
                                <th scope="col">Planlanan Tarih</th>
                                <th scope="col">Görüşülen Tarih</th>
                                <th scope="col">Görüşülen</th>
                                <th scope="col">Sebep</th>
                                <th scope="col">Durum</th>
                                <th scope="col">İptal Sebebi</th>
                                <th scope="col">Güncellenen Açıklama</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var operation in customerOperations)
                            {
                                <tr>
                                    <td>@operation.OperationDate</td>
                                    <td>@operation.CreatedByUser</td>
                                    <td>@operation.Method</td>
                                    <td>@operation.IsNew</td>
                                    <td>@operation.PlannedDate</td>
                                    <td>@operation.ActualDate</td>
                                    <td>@operation.ContactPerson</td>
                                    <td>@operation.Reason</td>
                                    <td>@operation.Status</td>
                                    <td class="description-cell" style="white-space: normal; word-wrap: break-word; max-width: 200px;">
                                        @operation.CancelReason
                                    </td>
                                    <td class="description-cell" style="white-space: normal; word-wrap: break-word; max-width: 200px;">
                                        @operation.UpdatedStatusDescription
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.body.style.opacity = 1;
        });
    </script>
</body>
</html>
