@{
    ViewBag.Title = "Index";
    var userOperations = Model as List<DisplayCustomerOperationResponse>;

}
@*dashboard*@
<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("_DashboardHeadComponentPartial")
    @await Component.InvokeAsync("_DashboardStyleComponentPartial")
</head>
<body>
    @await Component.InvokeAsync("_LayoutSideBarComponentPartial")
    @await Component.InvokeAsync("_LayoutNavbarComponentPartial")
    @await Component.InvokeAsync("_DashboardFormHeaderComponentPartial")
    <div class="info-container">
        @await Component.InvokeAsync("_UserFaceToFaceInteractionsComponentPartial")
        @await Component.InvokeAsync("_UserPhoneInteractionsComponentPartial")
        @await Component.InvokeAsync("_UserEmailInteractionsComponentPartial")
        @await Component.InvokeAsync("_UserOperationStatsComponentPartial")
    </div>
    @await Component.InvokeAsync("_DashboardFilterContainerComponentPartial")
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>Tarih</th>
                <th>Personel</th>
                <th>Firma</th>
                <th>Müşteri</th>
                <th>Adres</th>
                <th>Yöntem</th>
                <th>Görüşülen</th>
                <th>Planlanan Tarih</th>
                <th>Görüşülen Tarih</th>
                <th>Sebep</th>
                <th>Durum</th>
                <th>Açıklama</th>
                <th>Düzenle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var operation in userOperations)
            {
                <tr>
                    <td>@operation.OperationDate</td>
                    <td>@operation.CreatedByUser</td>
                    <td>@operation.IsNew</td>
                    <td>@operation.CustomerName</td>
                    <td>@operation.Address</td>
                    <td>@operation.Method</td>
                    <td>@operation.ContactPerson</td>
                    <td>@operation.PlannedDate</td>
                    <td>@operation.ActualDate</td>
                    <td>@operation.Reason</td>
                    <td>@operation.Status</td>
                    <td class="description-cell" style="white-space: normal; word-wrap: break-word;">
                        @operation.Description
                    </td>

                </tr>
            }
        </tbody>
    </table>
    @await Component.InvokeAsync("_DashboardEditOperationModalComponentPartial")
    <div id="pagination-controls" style="text-align: center; margin-top: 20px;">
        <button class="btn btn-sm mx-1" onclick="changePage('prev')" style="background-color: #555; border: none; border-radius: 20px; padding: 5px 15px; color: #fff;">
            ◀ Önceki
        </button>
        <span id="currentPage" style="font-size: 16px; font-weight: bold; padding: 0 10px; color: #fff;">1</span>
        <button class="btn btn-sm mx-1" onclick="changePage('next')" style="background-color: #555; border: none; border-radius: 20px; padding: 5px 15px; color: #fff;">
            Sonraki ▶
        </button>
    </div>
    
    @await Component.InvokeAsync("_DashboardScriptComponentPartial")
    <div style="position: fixed; bottom: 10px; right: 20px; color: #fff; font-size: 12px;">
        Designed by Eco Software Development ℗
    </div>
</body>
</html>
